/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

.navbar {
    background-color: #1a1a1a;
    transition: all 0.3s ease;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: 600;
    transition: all 0.3s ease;
}

.nav-link {
    font-size: 1.2em;
    font-weight: 400;
    transition: all 0.3s ease;
}

.nav-link:hover, .navbar-brand:hover {
    color: #ff6600 !important;
    transform: scale(1.1);
}

.navbar-toggler-icon {
    transition: transform 0.3s ease;
}

.navbar-toggler-icon:hover {
    transform: rotate(180deg);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #ff6600;
    font-weight: 700;
    position: relative;
    display: inline-block;
}

h1:after {
    content: '';
    width: 100%;
    height: 3px;
    background: #ff6600;
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

h1:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

p.lead {
    font-size: 1.5em;
    color: #333;
    text-align: center;
    font-weight: 500;
    animation: fadeIn 2s ease-in-out;
}

.section-title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #007bff;
    font-weight: 700;
    position: relative;
    display: inline-block;
    background: linear-gradient(90deg, #007bff, #ff6600);
    -webkit-text-fill-color: transparent;
    animation: shimmer 2s infinite;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes shimmer {
    0% { background-position: -100%; }
    100% { background-position: 100%; }
}

.card {
    background-color: #e6f2ff;
    border: none;
    border-radius: 10px;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 400px; /* Adjust the height as needed */
    object-fit: cover;
    border-radius: 10px;
}

.footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer p {
    margin: 0;
    font-size: 1em;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
}
